{
  "env": {
    "es6": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier", "react-hooks"],
  "rules": {
    "linebreak-style": "off", // Don't play nicely with Windows.
    "arrow-parens": "off", // Incompatible with prettier
    "object-curly-newlin": "off", // Incompatible with prettier
    "no-mixed-operators": "off", // Incompatible with prettier
    "arrow-body-style": "off",
    "function-paren-newline": "off", // Incompatible with prettier
    "no-plusplus": "off",
    "space-before-function-paren": 0, // Incompatible with prettier
    "max-len": ["error", 100, 2, { "ignoreUrls": true, "ignoreComments": true }],
    "no-unused-vars": 0,
    "no-console": "warn", // airbnb is using warn
    "no-alert": "warn", // airbnb is using warn
    "no-param-reassign": "off",
    "radix": "off",
    "react/require-default-props": "off", // airbnb use error
    "react/forbid-prop-types": "off", // airbnb use error
    "react/jsx-filename-extension": ["error", { "extensions": [".js"] }], // airbnb is using .jsx
    "prefer-destructuring": "off",
    "react/no-find-dom-node": "off",
    "react/no-did-mount-set-state": "off",
    "react/no-unused-prop-types": "off",
    "react/jsx-one-expression-per-line": "off",
    "jsx-a11y/anchor-is-valid": ["error", { "components": ["Link"], "specialLink": ["to"] }],
    "jsx-a11y/label-has-for": [2, {
      "required": {
        "every": ["id"]
      }
    }],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "react-hooks/rules-of-hooks": "error", // Checks rules of Hooks
    "react-hooks/exhaustive-deps": "warn" // Checks effect dependencies
  }
}